.container {
  border: 1px solid black;
  margin: 1em;
  padding: 1.2em;
  border-radius: 12px;
  min-width: 250px;
  width: fit-content;
  transition: ease-in-out 0.2s;
}

.container:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.title {
  font-weight: var(--flocker-font-weight-medium);
}

.participants,
.dates {
  font-size: var(--flocker-font-size-small);
}
