.homeView {
  background: var(--flocker-color-primary);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.subtitle {
  color: white;
  font-size: var(--flocker-font-size-subtitle);
  text-align: center;
}

.buttons {
  z-index: 2;
}

.goose {
  position: fixed;
  width: 40vmax;
  max-width: 500px;
}

.goose1 {
  transform: rotate(220deg);
  left: clamp(-130px, -20vw, 0px);
  top: -15vh;
}

.goose2 {
  transform: rotate(30deg);
  right: clamp(-80px, -10vw, 0px);
  bottom: -5vh;
}
