.table {
  display: block;
  max-width: 80vw;
  max-height: 70vh;
}

.time {
  font-size: medium;
  position: sticky;
  background-color: white;
  left: 0;
  z-index: 3;
}

.tableContent {
  width: 100%;
  height: max-content;
}

.headerRow {
  left: 0;
  position: 'sticky';
  z-index: 2;
}

.leftCol {
  position: sticky;
  background-color: white;
  left: 0;
  z-index: 2;
  width: 8em;
}

.dates {
  font-size: medium;
  z-index: 1;
}

.cell {
  border-left: 0.01rem solid white;
  border-right: 0.01rem solid white;
  opacity: 0.7;
}

.userAvailable {
  background-color: var(--flocker-color-secondary);
}

.othersAvailable {
  background-color: var(--flocker-color-primary);
}

.bothAvailable {
  background-color: var(--flocker-color-tertiary);
}
