.table {
  height: 50vh;
  width: 80rem;
  max-width: max-content;
  padding-right: 1rem;
}

.tableContent {
  width: max-content;
  height: max-content;
}

.othersAvailable {
  background-color: var(--flocker-color-primary);
  opacity: 0.25;
}
