.table {
  display: block;
  max-width: 80vw;
  max-height: 70vh;
}

.time {
  font-size: medium;
  position: sticky;
  background-color: white;
  left: 0;
  z-index: 3;
}

.tableContent {
  width: 100%;
  height: max-content;
}

.headerRow {
  left: 0;
  position: 'sticky';
  z-index: 2;
}

.leftCol {
  position: sticky;
  background-color: white;
  left: 0;
  z-index: 2;
  width: 8em;
}

.dates {
  font-size: medium;
  z-index: 1;
}

.cell {
  border-left: 0.01rem solid white;
  border-right: 0.01rem solid white;
  opacity: 0.7;
}

.userAvailable {
  background-color: var(--flocker-color-secondary);
}

.othersAvailable {
  background-color: var(--flocker-color-primary);
}

.bothAvailable {
  background-color: var(--flocker-color-tertiary);
}

h3 {
  font-size: var(--flocker-font-size-small);
  font-weight: var(--flocker-font-weight-light);
  margin: 0 1em 0 0.5em;
}

.legend {
  margin-top: 1em;
  display: flex;
  align-items: center;
}

.legend .circleAvailability {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--flocker-circle-availability-color);
  opacity: 70%;
  border-radius: 50%;
}

.legend .circleBothAvailable {
  background-color: var(--flocker-color-tertiary);
}

.legend .circleUserAvailable {
  background-color: var(--flocker-color-secondary);
}

.legend .circleFlockAvailable {
  background-color: var(--flocker-color-primary);
}
