.participantList {
  overflow: 'hidden';
  display: inline-block;
}

.listContent {
  display: inline-block;
}

.name {
  color: white;
  font-weight: var(--flocker-font-weight-light);
  font-size: var(--flocker-font-size-small);
}

.avatar {
  background-color: white;
  color: var(--flocker-color-primary);
}
