.container {
  height: 100%;
  background-color: var(--flocker-color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  color: white;
}

.content {
  width: 100%;
  margin-bottom: 16px;
}

.divider {
  margin: 1em 0;
}

.title {
  font-size: var(--flocker-font-size-subtitle);
  font-weight: var(--flocker-font-weight-light);
  margin-bottom: 16px;
}

.username {
  font-weight: var(--flocker-font-weight-medium);
}
