.notFoundView {
  background: var(--flocker-color-primary);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.heading {
  color: var(--flocker-color-secondary);
  font-size: 10em;
}

.goose {
  width: 40vmax;
  max-width: 500px;
}

.subtitle {
  color: white;
  font-size: var(--flocker-font-size-subtitle);
  font-weight: normal;
  text-align: center;
}
