.notFoundView {
  background: var(--flocker-color-primary);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: white;
  font-size: 10em;
  gap: 0;
}

.goose {
  position: fixed;
  width: 40vmax;
  max-width: 500px;
}

.goose1 {
  transform: rotate(200deg);
  left: clamp(-100px, -15vw, 0px);
  top: -10vh;
}

.goose2 {
  transform: rotate(30deg);
  right: clamp(-100px, -15vw, 0px);
  bottom: -5vh;
}

.subtitle {
  color: white;
  font-size: var(--flocker-font-size-subtitle);
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
}
