.sidebarHeadings {
  font-size: var(--flocker-font-size-medium);
  font-weight: var(--flocker-font-weight-light);
  margin-top: 16px;
}

.timeMatcher {
  width: 60vw;
  height: 70vh;
}

h2 {
  font-size: var(--flocker-font-size-body);
  font-weight: var(--flocker-font-weight-light);
  padding: 16px 0 8px 0;
}

h3 {
  font-size: var(--flocker-font-size-small);
  font-weight: var(--flocker-font-weight-light);
  padding: 0 10px;
}

.legendKeys {
  display: flex;
  align-items: center;
}

.circleAvailability {
  width: 2rem;
  height: 2rem;
  background-color: var(--flocker-circle-availability-color);
  opacity: 70%;
  border-radius: 50%;
}
.circleBothAvailable {
  background-color: var(--flocker-color-tertiary);
}

.circleUserAvailable {
  background-color: var(--flocker-color-secondary);
}

.circleFlockAvailable {
  background-color: var(--flocker-color-primary);
}

.sidebarDivider {
  margin-top: 8px;
}

.joinFlockButton {
  margin-top: 8px;
  margin-bottom: 30px;
}

.joinFlockPrompt {
  font-size: var(--flocker-font-size-small);
  max-width: 20em;
}

.leaveFlockButton {
  margin-top: 100px;
  margin-bottom: 30px;
}
