.sidebarHeadings {
  font-size: var(--flocker-font-size-medium);
  font-weight: var(--flocker-font-weight-light);
  margin-top: 16px;
}

.timeMatcher {
  width: 60vw;
}

.sidebarDivider {
  margin-top: 8px;
}

.joinSidebarFlockPrompt {
  font-size: var(--flocker-font-size-small);
  max-width: 15em;
  margin-bottom: 0.5em;
  font-style: italic;
}

.joinLeaveFlock {
  display: flex;
  align-items: center;
  gap: 0.8em;
  margin-bottom: -32px;
}
