.divider {
  color: white;
  border-color: white;
  font-weight: var(--flocker-font-weight-light);
  font-size: var(--flocker-font-size-small);
}

.divider::before,
.divider::after {
  border-top: thin solid white;
}
