.calendarList {
  color: white;
  font-size: var(--flocker-font-size-small);
}

.calendarName,
.noCalendars,
.disabledPrompt {
  font-size: var(--flocker-font-size-small);
  font-weight: var(--flocker-font-weight-light);
  word-wrap: break-word;
  max-width: 16em;
}

.noCalendars,
.disabledPrompt {
  margin-bottom: 0.5em;
  font-style: italic;
}
